<% content_for :page_title, "#{'Error: ' if date_of_birth_form.errors.any?}Your date of birth" %>
<% content_for :back_link_url, back_link_url(name_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: date_of_birth_form, url: date_of_birth_path do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_date_field(
            :date_of_birth,
            date_of_birth: true,
            legend: { tag: 'h1', size: 'xl', text: 'Your date of birth' },
            hint: { text: 'For example, 27 3 1987' }
          )
      %>
      <%= f.govuk_submit prevent_double_click: false %>
    <% end %>
  </div>
</div>
