*.enc
*.ico
*.key
*.lock
*.log
*.png
*.svg
*.txt
*.woff*
.gitattributes
.gitignore
.keep
.prettierignore
.rladr
.rspec
.ruby-version
.tool-versions
.bundle
Dockerfile
LICENCE
Procfile
Procfile.*
app/assets/builds
bin/dev
data
db/*.sqlite3
db/schema.rb
log
public/assets
storage
tmp
vendor
