---
http_interactions:
  - request:
      method: get
      uri: https://preprod-teacher-qualifications-api.education.gov.uk/v2/teachers/find?dateOfBirth=1990-01-01&firstName=kevin&nationalInsuranceNumber=1000000
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer testkey
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Rate-Limit-Limit:
          - 60s
        X-Rate-Limit-Remaining:
          - "295"
        X-Rate-Limit-Reset:
          - "2022-07-22T20:13:00.0000000Z"
        X-Vcap-Request-Id:
          - eb02f67b-ac22-421e-4b9c-f05ba581855b
      body:
        encoding: UTF-8
        string: '{"results":[{"trn":"2921020","emailAddresses":["anonymous@anonymousdomain.org.net.co.uk"],"firstName":"Kevin","lastName":"Evans","dateOfBirth":"1990-01-01","nationalInsuranceNumber":"AA123456A","uid":"f7891223-7661-e411-8047-005056822391"}]}'
    recorded_at: Fri, 22 Jul 2022 20:12:15 GMT
recorded_with: VCR 6.1.0
