---
http_interactions:
  - request:
      method: get
      uri: https://preprod-teacher-qualifications-api.education.gov.uk/v2/teachers/find?dateOfBirth=1990-01-01&emailAddress=kevin@kevin.com&firstName=kevin&ittProviderName&lastName&nationalInsuranceNumber=1000000&previousFirstName&previousLastName
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer testkey
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Rate-Limit-Limit:
          - 60s
        X-Rate-Limit-Remaining:
          - "296"
        X-Rate-Limit-Reset:
          - "2022-04-01T10:41:00.0000000Z"
        X-Vcap-Request-Id:
          - 41ec9d6f-e5b6-401b-4cec-6ce7c319f682
      body:
        encoding: UTF-8
        string: '{"results":[{"trn":"1275362","emailAddresses":["anonymous@anonymousdomain.org.net.co.uk"],"firstName":"Kevin","lastName":"Evans","dateOfBirth":"1990-01-01","nationalInsuranceNumber":"AA123456A","uid":"f7891223-7661-e411-8047-005056822391"}]}'
    recorded_at: Fri, 01 Apr 2022 10:40:15 GMT
recorded_with: VCR 6.1.0
