---
http_interactions:
  - request:
      method: get
      uri: https://qualified-teachers-api-preprod.london.cloudapps.digital/v2/teachers/find?dateOfBirth=1990-01-01&emailAddress=kevin@kevin.com&firstName=kevin&ittProviderName&lastName&nationalInsuranceNumber=1000000&previousFirstName&previousLastName
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Authorization:
          - Bearer testkey
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Rate-Limit-Limit:
          - 60s
        X-Rate-Limit-Remaining:
          - '296'
        X-Rate-Limit-Reset:
          - '2022-03-25T11:04:00.0000000Z'
        X-Vcap-Request-Id:
          - 76cd4498-5e4e-4117-47bd-34920e586d23
      body:
        encoding: UTF-8
        string: '{"results":[{"trn":"1275362","emailAddresses":["anonymous@anonymousdomain.org.net.co.uk"],"firstName":"Kevin","lastName":"Evans","dateOfBirth":"1990-01-01","nationalInsuranceNumber":"SD78771P9","uid":"f7891223-7661-e411-8047-005056822391"}]}'
    recorded_at: Fri, 25 Mar 2022 11:03:09 GMT
recorded_with: VCR 6.1.0
