---
http_interactions:
  - request:
      method: get
      uri: https://preprod-teacher-qualifications-api.education.gov.uk/v2/teachers/find?dateOfBirth=1990-01-01&emailAddress=kevin.e@example.com&firstName=Kevin&lastName=E&nationalInsuranceNumber=AA123456A
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer <BEARER_TOKEN_REDACTED>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Rate-Limit-Limit:
          - 60s
        X-Rate-Limit-Remaining:
          - "298"
        X-Rate-Limit-Reset:
          - "2022-08-19T16:07:00.0000000Z"
        X-Vcap-Request-Id:
          - 84caf59e-b10f-49e3-6d1d-eda5c5b58583
      body:
        encoding: UTF-8
        string: '{"results":[{"trn":"2921020","emailAddresses":["kevin.e@example.com"],"firstName":"Kevin","lastName":"E","dateOfBirth":"1990-01-01","nationalInsuranceNumber":"AA123456A","uid":"1bf8803f-3924-417c-9603-1ed6489dae0d","hasActiveSanctions":false}]}'
    recorded_at: Fri, 19 Aug 2022 16:06:59 GMT
  - request:
      method: put
      uri: https://s165d01-getanid-dev-auth-server-app.azurewebsites.net/api/find-trn/user/9ddccb62-ec13-4ea7-a163-c058a19b8222
      body:
        encoding: UTF-8
        string: '{"firstName":"Kevin","lastName":"E","trn":"2921020","dateOfBirth":"1990-01-01"}'
      headers:
        Authorization:
          - Bearer <BEARER_TOKEN_REDACTED>
        Content-Type:
          - application/json
    response:
      status:
        code: 204
        message: No Content
      headers:
      body:
        encoding: UTF-8
        string: ""
    recorded_at: Fri, 19 Aug 2022 14:51:28 GMT
recorded_with: VCR 6.1.0
