---
http_interactions:
  - request:
      method: get
      uri: https://preprod-teacher-qualifications-api.education.gov.uk/v2/teachers/find?dateOfBirth=1990-01-01&firstName=Kevin&lastName=E&nationalInsuranceNumber=AA123456A
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer <BEARER_TOKEN_REDACTED>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Rate-Limit-Limit:
          - 60s
        X-Rate-Limit-Remaining:
          - "299"
        X-Rate-Limit-Reset:
          - "2022-07-22T22:15:00.0000000Z"
        X-Vcap-Request-Id:
          - 146eba6c-a3d9-40f3-6b14-b6d5e5f4d4e3
      body:
        encoding: UTF-8
        string: '{"results":[{"trn":"2921020","emailAddresses":["anonymous@anonymousdomain.org.net.co.uk"],"firstName":"Kevin","lastName":"Evans","dateOfBirth":"1990-01-01","nationalInsuranceNumber":"AA123456A","uid":"f7891223-7661-e411-8047-005056822391"}]}'
    recorded_at: Fri, 22 Jul 2022 22:14:06 GMT
  - request:
      method: get
      uri: https://preprod-teacher-qualifications-api.education.gov.uk/v2/teachers/find?dateOfBirth=1990-01-01&emailAddress=kevin@kevin.com&firstName=Kevin&lastName=E
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer <BEARER_TOKEN_REDACTED>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Rate-Limit-Limit:
          - 60s
        X-Rate-Limit-Remaining:
          - "294"
        X-Rate-Limit-Reset:
          - "2022-08-15T09:50:00.0000000Z"
        X-Vcap-Request-Id:
          - b5a8f180-fa5f-4e43-4920-1e1284cd1da2
      body:
        encoding: UTF-8
        string: '{"results":[]}'
    recorded_at: Mon, 15 Aug 2022 09:49:36 GMT
  - request:
      method: get
      uri: https://preprod-teacher-qualifications-api.education.gov.uk/v2/teachers/find?dateOfBirth=1990-01-01&emailAddress=kevin@kevin.com&firstName=Kevin&lastName=E&nationalInsuranceNumber=AA123456A
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer <BEARER_TOKEN_REDACTED>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Rate-Limit-Limit:
          - 60s
        X-Rate-Limit-Remaining:
          - "293"
        X-Rate-Limit-Reset:
          - "2022-08-15T09:50:00.0000000Z"
        X-Vcap-Request-Id:
          - df72acf6-d0b1-45f9-4698-b8bfccfb5e71
      body:
        encoding: UTF-8
        string: '{"results":[{"trn":"2921020","emailAddresses":["kevin.e@example.com"],"firstName":"Kevin","lastName":"E","dateOfBirth":"1990-01-01","nationalInsuranceNumber":"AA123456A","uid":"1bf8803f-3924-417c-9603-1ed6489dae0d","hasActiveSanctions":false}]}'
    recorded_at: Mon, 15 Aug 2022 09:49:37 GMT
recorded_with: VCR 6.1.0
