---
http_interactions:
  - request:
      method: get
      uri: https://preprod-teacher-qualifications-api.education.gov.uk/v2/teachers/find?dateOfBirth=1990-01-01&firstName=Kevin&ittProviderName=Test%20ITT%20Provider&lastName=E
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer <BEARER_TOKEN_REDACTED>
    response:
      status:
        code: 401
        message: Unauthorized
      headers:
        X-Rate-Limit-Limit:
          - 60s
        X-Rate-Limit-Remaining:
          - "299"
        X-Rate-Limit-Reset:
          - "2022-08-09T12:08:00.0000000Z"
        X-Vcap-Request-Id:
          - 9fa8d959-5ee6-4c0a-6156-040dbaba6e86
      body:
        encoding: UTF-8
        string: ""
    recorded_at: Tue, 09 Aug 2022 12:07:54 GMT
  - request:
      method: get
      uri: https://preprod-teacher-qualifications-api.education.gov.uk/v2/teachers/find?dateOfBirth=1990-01-01&emailAddress=kevin@kevin.com&firstName=Kevin&lastName=E
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer <BEARER_TOKEN_REDACTED>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Rate-Limit-Limit:
          - 60s
        X-Rate-Limit-Remaining:
          - "288"
        X-Rate-Limit-Reset:
          - "2022-08-15T09:50:00.0000000Z"
        X-Vcap-Request-Id:
          - 5a2201f0-ee72-444c-561e-e6dc2cd65b63
      body:
        encoding: UTF-8
        string: '{"results":[]}'
    recorded_at: Mon, 15 Aug 2022 09:49:48 GMT
  - request:
      method: get
      uri: https://preprod-teacher-qualifications-api.education.gov.uk/v2/teachers/find?dateOfBirth=1990-01-01&emailAddress=kevin@kevin.com&firstName=Kevin&ittProviderName=Test%20ITT%20Provider&lastName=E
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer <BEARER_TOKEN_REDACTED>
    response:
      status:
        code: 400
        message: Bad Request
      headers:
        Content-Type:
          - application/problem+json; charset=utf-8
        X-Rate-Limit-Limit:
          - 60s
        X-Rate-Limit-Remaining:
          - "287"
        X-Rate-Limit-Reset:
          - "2022-08-15T09:50:00.0000000Z"
        X-Vcap-Request-Id:
          - 451b6c85-2298-450a-675c-9c4e5ade9e3e
      body:
        encoding: UTF-8
        string: '{"title":"Organisation not found","status":400,"errorCode":10008}'
    recorded_at: Mon, 15 Aug 2022 09:49:50 GMT
recorded_with: VCR 6.1.0
