---
http_interactions:
  - request:
      method: get
      uri: https://preprod-teacher-qualifications-api.education.gov.uk/v2/teachers/find?dateOfBirth=1990-01-01&firstName=Kevin&lastName=E&nationalInsuranceNumber=AA123456A
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer <BEARER_TOKEN_REDACTED>
    response:
      status:
        code: 401
        message: Unauthorized
      headers:
        X-Rate-Limit-Limit:
          - 60s
        X-Rate-Limit-Remaining:
          - "296"
        X-Rate-Limit-Reset:
          - "2022-08-09T12:05:00.0000000Z"
        X-Vcap-Request-Id:
          - 30bbe138-551e-483b-4657-a4f9c209e068
      body:
        encoding: UTF-8
        string: ""
    recorded_at: Tue, 09 Aug 2022 12:04:27 GMT
  - request:
      method: get
      uri: https://preprod-teacher-qualifications-api.education.gov.uk/v2/teachers/find?dateOfBirth=1990-01-01&emailAddress=kevin@kevin.com&firstName=Kevin&lastName=E
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer <BEARER_TOKEN_REDACTED>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Rate-Limit-Limit:
          - 60s
        X-Rate-Limit-Remaining:
          - "292"
        X-Rate-Limit-Reset:
          - "2022-08-15T09:50:00.0000000Z"
        X-Vcap-Request-Id:
          - b828991d-d88e-4691-6ea2-0bc70147f6d7
      body:
        encoding: UTF-8
        string: '{"results":[]}'
    recorded_at: Mon, 15 Aug 2022 09:49:38 GMT
  - request:
      method: get
      uri: https://preprod-teacher-qualifications-api.education.gov.uk/v2/teachers/find?dateOfBirth=1990-01-01&emailAddress=kevin@kevin.com&firstName=Kevin&lastName=E&nationalInsuranceNumber=AA123456A
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer <BEARER_TOKEN_REDACTED>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Rate-Limit-Limit:
          - 60s
        X-Rate-Limit-Remaining:
          - "291"
        X-Rate-Limit-Reset:
          - "2022-08-15T09:50:00.0000000Z"
        X-Vcap-Request-Id:
          - 19828bc7-7ed4-416b-47a5-f1fb1ce573b8
      body:
        encoding: UTF-8
        string: '{"results":[{"trn":"2921020","emailAddresses":["kevin.e@example.com"],"firstName":"Kevin","lastName":"E","dateOfBirth":"1990-01-01","nationalInsuranceNumber":"AA123456A","uid":"1bf8803f-3924-417c-9603-1ed6489dae0d","hasActiveSanctions":false}]}'
    recorded_at: Mon, 15 Aug 2022 09:49:39 GMT
recorded_with: VCR 6.1.0
