---
http_interactions:
  - request:
      method: get
      uri: https://preprod-teacher-qualifications-api.education.gov.uk/v2/teachers/find?dateOfBirth=1999-05-05&emailAddress=test@example.com&firstName=Audrey&lastName=Coady
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer <BEARER_TOKEN_REDACTED>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Rate-Limit-Limit:
          - 60s
        X-Rate-Limit-Remaining:
          - "299"
        X-Rate-Limit-Reset:
          - "2022-08-15T12:57:00.0000000Z"
        X-Vcap-Request-Id:
          - ba1b74a1-bf77-456f-6db3-d23879bfd37a
      body:
        encoding: UTF-8
        string: '{"results":[]}'
    recorded_at: Mon, 15 Aug 2022 12:56:36 GMT
  - request:
      method: get
      uri: https://preprod-teacher-qualifications-api.education.gov.uk/v2/teachers/find?dateOfBirth=1999-05-05&emailAddress=test@example.com&firstName=Audrey&lastName=Coady&nationalInsuranceNumber=JN123456A
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer <BEARER_TOKEN_REDACTED>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Rate-Limit-Limit:
          - 60s
        X-Rate-Limit-Remaining:
          - "298"
        X-Rate-Limit-Reset:
          - "2022-08-15T12:57:00.0000000Z"
        X-Vcap-Request-Id:
          - 3d0ebc76-b3b2-4681-7993-19ef782ac06d
      body:
        encoding: UTF-8
        string: '{"results":[{"trn":"2600145","emailAddresses":["acoady2@myemail.co.uk"],"firstName":"Audrey","lastName":"Coady","dateOfBirth":"1999-05-05","nationalInsuranceNumber":"JN123456A","uid":"a3b16d4f-9134-eb11-a813-000d3a2287a4","hasActiveSanctions":true}]}'
    recorded_at: Mon, 15 Aug 2022 12:56:37 GMT
recorded_with: VCR 6.1.0
