---
http_interactions:
  - request:
      method: get
      uri: https://preprod-teacher-qualifications-api.education.gov.uk/v2/teachers/find?dateOfBirth=1999-05-05&emailAddress=test@example.com&firstName=Audrey&ittProviderName&lastName=Coady&nationalInsuranceNumber=JN123456A&previousFirstName&previousLastName
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer <BEARER_TOKEN_REDACTED>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Rate-Limit-Limit:
          - 60s
        X-Rate-Limit-Remaining:
          - "299"
        X-Rate-Limit-Reset:
          - "2022-07-05T16:25:00.0000000Z"
        X-Vcap-Request-Id:
          - 65054bdc-3681-4ef1-6ce8-6c1b5177fcf7
      body:
        encoding: UTF-8
        string: '{"results":[{"trn":"2600145","emailAddresses":["acoady2@myemail.co.uk"],"firstName":"Audrey","lastName":"Coady","dateOfBirth":"1999-05-05","nationalInsuranceNumber":"JN123456A","uid":"a3b16d4f-9134-eb11-a813-000d3a2287a4","hasActiveSanctions":true}]}'
    recorded_at: Tue, 05 Jul 2022 16:24:18 GMT
recorded_with: VCR 6.1.0
