---
http_interactions:
  - request:
      method: get
      uri: https://preprod-teacher-qualifications-api.education.gov.uk/v2/teachers/find?dateOfBirth=1999-05-05&emailAddress=test@example.com&firstName=Audrey&lastName=Coady
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer <BEARER_TOKEN_REDACTED>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Rate-Limit-Limit:
          - 60s
        X-Rate-Limit-Remaining:
          - "299"
        X-Rate-Limit-Reset:
          - "2022-11-22T18:12:00.0000000Z"
        X-Vcap-Request-Id:
          - c4624c65-8e48-4451-5608-29c62ae00c43
      body:
        encoding: UTF-8
        string: '{"results":[]}'
    recorded_at: Tue, 22 Nov 2022 18:11:52 GMT
  - request:
      method: get
      uri: https://preprod-teacher-qualifications-api.education.gov.uk/v2/teachers/find?dateOfBirth=1999-05-05&emailAddress=test@example.com&firstName=Audrey&lastName=Coady&nationalInsuranceNumber=JN123456A
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer <BEARER_TOKEN_REDACTED>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Rate-Limit-Limit:
          - 60s
        X-Rate-Limit-Remaining:
          - "298"
        X-Rate-Limit-Reset:
          - "2022-11-22T18:12:00.0000000Z"
        X-Vcap-Request-Id:
          - 11a7ec75-d37e-44d5-4eb7-f211cac7f197
      body:
        encoding: UTF-8
        string: '{"results":[{"trn":"2600145","emailAddresses":["acoady2@myemail.co.uk"],"firstName":"Audrey","lastName":"Coady","dateOfBirth":"1999-05-05","nationalInsuranceNumber":"JN123456A","uid":"a3b16d4f-9134-eb11-a813-000d3a2287a4","hasActiveSanctions":true}]}'
    recorded_at: Tue, 22 Nov 2022 18:11:52 GMT
recorded_with: VCR 6.1.0
