---
http_interactions:
  - request:
      method: get
      uri: https://preprod-teacher-qualifications-api.education.gov.uk/v2/teachers/find?dateOfBirth=1990-01-01&emailAddress=kevin@kevin.com&firstName=Kevin&lastName=E
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer <BEARER_TOKEN_REDACTED>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Rate-Limit-Limit:
          - 60s
        X-Rate-Limit-Remaining:
          - "290"
        X-Rate-Limit-Reset:
          - "2022-11-22T17:14:00.0000000Z"
        X-Vcap-Request-Id:
          - f907fa4f-ce6c-45ae-73a1-705788f04b8d
      body:
        encoding: UTF-8
        string: '{"results":[]}'
    recorded_at: Tue, 22 Nov 2022 17:13:27 GMT
  - request:
      method: get
      uri: https://preprod-teacher-qualifications-api.education.gov.uk/v2/teachers/find?dateOfBirth=1990-01-01&emailAddress=kevin@kevin.com&firstName=Kevin&lastName=E&nationalInsuranceNumber=AA123456A
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer <BEARER_TOKEN_REDACTED>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Rate-Limit-Limit:
          - 60s
        X-Rate-Limit-Remaining:
          - "289"
        X-Rate-Limit-Reset:
          - "2022-11-22T17:14:00.0000000Z"
        X-Vcap-Request-Id:
          - 25f6af6e-e1ec-45e3-5a74-b03cc47c4bc5
      body:
        encoding: UTF-8
        string: '{"results":[{"trn":"2921020","emailAddresses":["kevin.e@example.com"],"firstName":"Kevin","lastName":"E","dateOfBirth":"1990-01-01","nationalInsuranceNumber":"AA123456A","uid":"1bf8803f-3924-417c-9603-1ed6489dae0d","hasActiveSanctions":false}]}'
    recorded_at: Tue, 22 Nov 2022 17:13:27 GMT
recorded_with: VCR 6.1.0
