<%
  dqt_rows = []

  name_row = {
    key: { text: 'Official name' },
    value: { text: full_name },
  }

  date_of_birth_row = {
    key: { text: 'Date of birth' },
    value: { text: date_of_birth },
  }

  nino_row = {
    key: { text: 'National insurance number' },
    value: { text: nino },
  }

  trn_row = {
    key: { text: 'TRN' },
    value: { text: trn },
  }

  dqt_rows.push(name_row)
  dqt_rows.push(date_of_birth_row)
  dqt_rows.push(nino_row)
  dqt_rows.push(trn_row)
%>

<section class="app-govuk-summary-card govuk-!-margin-bottom-6">
 <header class="app-govuk-summary-card__header">
  <h2 class="app-govuk-summary-card__title">
    DQT record
  </h2>
 </header>
 <div class="app-govuk-summary-card__body">
  <%= govuk_summary_list(rows: dqt_rows) %>
 </div>
</section>
