---
http_interactions:
  - request:
      method: get
      uri: https://preprod-teacher-qualifications-api.education.gov.uk/v2/teachers/find?dateOfBirth=1990-01-01&firstName=John&lastName=Smith&nationalInsuranceNumber=QQ123456C
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer testkey
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Rate-Limit-Limit:
          - 60s
        X-Rate-Limit-Remaining:
          - "299"
        X-Rate-Limit-Reset:
          - "2022-07-22T19:52:00.0000000Z"
        X-Vcap-Request-Id:
          - d6d28bd0-1a21-4d76-4f26-f0398d98186a
      body:
        encoding: UTF-8
        string: '{"results":[{"trn":"1104638","emailAddresses":["anonymous@anonymousdomain.org.net.co.uk"],"firstName":"John","lastName":"James","dateOfBirth":"1990-01-01","nationalInsuranceNumber":"C2568H34J","uid":"8e0e6223-ffae-e311-b8ed-005056822391"},{"trn":null,"emailAddresses":["anonymous@anonymousdomain.org.net.co.uk"],"firstName":"John","lastName":"Smith","dateOfBirth":null,"nationalInsuranceNumber":null,"uid":"44197f8c-9a5d-e811-893c-000d3a237aeb"},{"trn":null,"emailAddresses":["anonymous@anonymousdomain.org.net.co.uk"],"firstName":"John","lastName":"Smith","dateOfBirth":null,"nationalInsuranceNumber":null,"uid":"f3c3a29a-74c8-e711-9000-000d3a237aeb"},{"trn":"1087936","emailAddresses":["anonymous@[...]
