<% content_for :page_title, 'TRN Requests' %>

<h1 class="govuk-heading-l">TRN Requests</h1>

<% @trn_requests.each do |trn_request| %>
  <%= govuk_summary_list do |summary_list|
    summary_list.row do |row|
      row.key(text: 'ID')
      row.value(text: trn_request.id)
    end

    summary_list.row do |row|
      row.key(text: 'Created at')
      row.value(text: trn_request.created_at)
    end

    summary_list.row do |row|
      row.key(text: 'Updated at')
      row.value(text: trn_request.updated_at)
    end

    summary_list.row do |row|
      row.key(text: 'Submitted at')
      row.value(text: trn_request.checked_at)
    end
  end %>
<% end %>
