---
http_interactions:
  - request:
      method: get
      uri: https://preprod-teacher-qualifications-api.education.gov.uk/v2/teachers/find?dateOfBirth=1990-01-01&emailAddress=kevin.e@example.com&firstName=Kevin&lastName=E
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer <BEARER_TOKEN_REDACTED>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Rate-Limit-Limit:
          - 60s
        X-Rate-Limit-Remaining:
          - "299"
        X-Rate-Limit-Reset:
          - "2022-08-24T10:38:00.0000000Z"
        X-Vcap-Request-Id:
          - 2dc630de-12c4-4c0d-7309-e4790413b478
      body:
        encoding: UTF-8
        string: '{"results":[{"trn":"2921020","emailAddresses":["kevin.e@example.com"],"firstName":"Kevin","lastName":"E","dateOfBirth":"1990-01-01","nationalInsuranceNumber":"AA123456A","uid":"1bf8803f-3924-417c-9603-1ed6489dae0d","hasActiveSanctions":false}]}'
    recorded_at: Wed, 24 Aug 2022 10:37:55 GMT
  - request:
      method: put
      uri: https://preprod.teaching-identity.education.gov.uk/api/find-trn/user/9ddccb62-ec13-4ea7-a163-c058a19b8222
      body:
        encoding: UTF-8
        string: '{"firstName":"Kevin","lastName":"E","trn":"2921020","dateOfBirth":"1990-01-01"}'
      headers:
        Authorization:
          - Bearer <BEARER_TOKEN_REDACTED>
        Content-Type:
          - application/json
    response:
      status:
        code: 204
        message: No Content
      headers:
      body:
        encoding: UTF-8
        string: ""
    recorded_at: Tue, 04 Oct 2022 12:53:43 GMT
