---
http_interactions:
  - request:
      method: get
      uri: https://preprod.teaching-identity.education.gov.uk/api/v1/teachers/29e9e624-073e-41f5-b1b3-8164ce3a5233
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer <BEARER_TOKEN_REDACTED>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: UTF-8
        string: '{"created":"2022-10-10T15:01:22.692023Z","registeredWithClientId":"testclient","registeredWithClientDisplayName":"Development test client","userId":"29e9e624-073e-41f5-b1b3-8164ce3a5233","email":"kevin.e@digital.education.gov.uk,"firstName":"Kevin","lastName":"E","dateOfBirth":"1990-01-01","trn":"2921020"}'
    recorded_at: Thu, 22 Sep 2022 16:15:53 GMT
  - request:
      method: get
      uri: https://preprod-teacher-qualifications-api.education.gov.uk/v1/teachers/2921020?birthdate=1990-01-01
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer <BEARER_TOKEN_REDACTED>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Rate-Limit-Limit:
          - 60s
        X-Rate-Limit-Remaining:
          - "299"
        X-Rate-Limit-Reset:
          - "2022-09-22T16:16:00.0000000Z"
        X-Vcap-Request-Id:
          - 109c8ace-fd97-4a82-7382-1ab9433b4734
      body:
        encoding: UTF-8
        string:
          '{"trn":"2921020","ni_number":"AA123456A","qualified_teacher_status":{"name":"Trainee
          Teacher:DMS","state":"Active","state_name":"Active","qts_date":null},"induction":null,"initial_teacher_training":{"state":"Active","state_code":"Active","programme_start_date":"2020-04-01T00:00:00Z","programme_end_date":"2020-10-10T00:00:00Z","programme_type":"Graduate
          Teacher Programme","result":"In Training","subject1":"computer science","subject2":null,"subject3":null,"qualification":null,"subject1_code":"100366","subject2_code":null,"subject3_code":null},"qualifications":[{"name":"Higher
          Education","date_awarded":"2021-05-03T00:00:00Z","he_qualification_name":"First
          Degree","he_subject1":"computer science","he_subject2":null,"he_subject3":null,"he_subject1_code":"100366","he_subject2_code":null,"he_subject3_code":null,"class":"FirstClassHonours"}],"name":"Kevin
          E","dob":"1990-01-01T00:00:00","active_alert":false,"state":"Active","state_name":"Active"}'
    recorded_at: Thu, 22 Sep 2022 16:15:53 GMT
recorded_with: VCR 6.1.0
