---
http_interactions:
  - request:
      method: get
      uri: https://preprod.teaching-identity.education.gov.uk/api/v1/users/37ee5357-fb84-478e-b750-bf552e5c8eed
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer <BEARER_TOKEN_REDACTED>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Rate-Limit-Limit:
          - 60s
        X-Rate-Limit-Remaining:
          - "299"
        X-Rate-Limit-Reset:
          - "2022-09-29T11:31:00.0000000Z"
      body:
        encoding: UTF-8
        string: '{"created":"2022-10-10T15:01:22.692023Z","registeredWithClientId":"testclient","registeredWithClientDisplayName":"Development test client","userId":"37ee5357-fb84-478e-b750-bf552e5c8eed","email":"paul.hayes@digital.education.gov.uk","firstName":"Jane","lastName":"Doess","dateOfBirth":"1901-01-01","trn":null}'
    recorded_at: Thu, 29 Sep 2022 11:30:17 GMT
  - request:
      method: get
      uri: https://preprod-teacher-qualifications-api.education.gov.uk/v2/teachers/2921020
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer <BEARER_TOKEN_REDACTED>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Rate-Limit-Limit:
          - 60s
        X-Rate-Limit-Remaining:
          - "299"
        X-Rate-Limit-Reset:
          - "2022-09-29T11:31:00.0000000Z"
        X-Vcap-Request-Id:
          - 57f639bc-2311-48dd-67f8-9707b83e181a
      body:
        encoding: UTF-8
        string: '{"trn":"2921020","firstName":"Kevin","lastName":"E","dateOfBirth":"1990-01-01","nationalInsuranceNumber":"AA123456A","hasActiveSanctions":false,"qtsDate":null,"eytsDate":null,"earlyYearsStatus":null,"initialTeacherTraining":[{"programmeStartDate":"2020-04-01","programmeEndDate":"2020-10-10","programmeType":"GraduateTeacherProgramme","result":"InTraining"}]}'
    recorded_at: Thu, 29 Sep 2022 11:30:17 GMT
  - request:
      method: put
      uri: https://preprod.teaching-identity.education.gov.uk/api/v1/users/37ee5357-fb84-478e-b750-bf552e5c8eed/trn
      body:
        encoding: UTF-8
        string: '{"trn":"2921020"}'
      headers:
        Authorization:
          - Bearer <BEARER_TOKEN_REDACTED>
        Content-Type:
          - application/json
    response:
      status:
        code: 204
        message: No Content
      headers:
        Content-Type:
          - application/problem+json; charset=utf-8
        X-Rate-Limit-Limit:
          - 60s
        X-Rate-Limit-Remaining:
          - "298"
        X-Rate-Limit-Reset:
          - "2022-09-29T11:31:00.0000000Z"
      body:
        encoding: UTF-8
        string: ""
    recorded_at: Thu, 29 Sep 2022 11:30:19 GMT
[...]
  - request:
      method: get
      uri: https://preprod-teacher-qualifications-api.education.gov.uk/v2/teachers/2921020
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer <BEARER_TOKEN_REDACTED>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Rate-Limit-Limit:
          - 60s
        X-Rate-Limit-Remaining:
          - "299"
        X-Rate-Limit-Reset:
          - "2022-09-28T17:28:00.0000000Z"
        X-Vcap-Request-Id:
          - 219d85ae-8a2e-402e-5f97-6c7f06027f75
      body:
        encoding: UTF-8
        string: '{"trn":"2921020","firstName":"Kevin","lastName":"E","dateOfBirth":"1990-01-01","nationalInsuranceNumber":"AA123456A","hasActiveSanctions":false,"qtsDate":null,"eytsDate":null,"earlyYearsStatus":null,"initialTeacherTraining":[{"programmeStartDate":"2020-04-01","programmeEndDate":"2020-10-10","programmeType":"GraduateTeacherProgramme","result":"InTraining"}]}'
    recorded_at: Wed, 28 Sep 2022 17:27:03 GMT
recorded_with: VCR 6.1.0
