---
http_interactions:
  - request:
      method: get
      uri: https://qualified-teachers-api-preprod.london.cloudapps.digital/v2/teachers/find?dateOfBirth&emailAddress=kevin@kevin.com&firstName=kevin&ittProviderName=provider&lastName&nationalInsuranceNumber=1000000
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Authorization:
          - Bearer testkey
    response:
      status:
        code: 400
        message: Bad Request
      headers:
        Content-Type:
          - application/problem+json; charset=utf-8
        X-Rate-Limit-Limit:
          - 60s
        X-Rate-Limit-Remaining:
          - '295'
        X-Rate-Limit-Reset:
          - '2022-03-24T09:22:00.0000000Z'
        X-Vcap-Request-Id:
          - 142eddc0-54a1-4061-6ed2-e08f1169ac1d
      body:
        encoding: UTF-8
        string: '{"title":"Organisation not found","status":400,"errorCode":10008}'
    recorded_at: Thu, 24 Mar 2022 09:21:16 GMT
  - request:
      method: get
      uri: https://qualified-teachers-api-preprod.london.cloudapps.digital/v2/teachers/find?dateOfBirth=1990-01-01&emailAddress=kevin@kevin.com&firstName=kevin&ittProviderName=provider&lastName&nationalInsuranceNumber=1000000
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Authorization:
          - Bearer testkey
    response:
      status:
        code: 400
        message: Bad Request
      headers:
        Content-Type:
          - application/problem+json; charset=utf-8
        X-Rate-Limit-Limit:
          - 60s
        X-Rate-Limit-Remaining:
          - '287'
        X-Rate-Limit-Reset:
          - '2022-03-24T09:22:00.0000000Z'
        X-Vcap-Request-Id:
          - 7461e351-fa16-4ca3-50e9-d03ca9e186f0
      body:
        encoding: UTF-8
        string: '{"title":"Organisation not found","status":400,"errorCode":10008}'
    recorded_at: Thu, 24 Mar 2022 09:21:32 GMT
  - request:
      method: get
      uri: https://qualified-teachers-api-preprod.london.cloudapps.digital/v2/teachers/find?dateOfBirth=1990-01-01&emailAddress=kevin@kevin.com&firstName=kevin&ittProviderName&lastName&nationalInsuranceNumber=1000000
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Authorization:
          - Bearer testkey
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Rate-Limit-Limit:
          - 60s
        X-Rate-Limit-Remaining:
          - '296'
        X-Rate-Limit-Reset:
          - '2022-03-24T09:35:00.0000000Z'
        X-Vcap-Request-Id:
          - dac67800-5612-4a17-6214-429127f5beb5
      body:
        encoding: UTF-8
        string: '{"results":[{"trn":"1275362","emailAddresses":["anonymous@anonymousdomain.org.net.co.uk"],"firstName":"Kevin","lastName":"Evans","dateOfBirth":"1990-01-01","nationalInsuranceNumber":"SD78771P9","uid":"f7891223-7661-e411-8047-005056822391"}]}'
    recorded_at: Thu, 24 Mar 2022 09:34:23 GMT
recorded_with: VCR 6.1.0
