---
http_interactions:
- request:
    method: put
    uri: https://preprod-teacher-qualifications-api.education.gov.uk/v2/unlock-teacher/f6891223-7661-e431-8047-005056822391
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN_REDACTED>
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      X-Rate-Limit-Limit:
      - 60s
      X-Rate-Limit-Remaining:
      - '298'
      X-Rate-Limit-Reset:
      - '2022-08-02T21:47:00.0000000Z'
      X-Vcap-Request-Id:
      - 16dd3060-d8b6-4f11-714d-229e6d075512
    body:
      encoding: UTF-8
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.4","title":"Not
        Found","status":404,"traceId":"00-baa428e169866be42620851d3bd20d59-83da8f6b690baf97-00"}'
  recorded_at: Tue, 02 Aug 2022 21:46:12 GMT
recorded_with: VCR 6.1.0
