---
http_interactions:
  - request:
      method: put
      uri: https://preprod-teacher-qualifications-api.education.gov.uk/v2/unlock-teacher/f6891223-7661-e431-8047-005056822391
      body:
        encoding: UTF-8
        string: "{}"
      headers:
        Authorization:
          - Bearer <BEARER_TOKEN_REDACTED>
        Content-Type:
          - application/json
    response:
      status:
        code: 404
        message: Not Found
      headers:
        Content-Type:
          - application/problem+json; charset=utf-8
        X-Rate-Limit-Limit:
          - 60s
        X-Rate-Limit-Remaining:
          - "297"
        X-Rate-Limit-Reset:
          - "2022-09-16T13:56:00.0000000Z"
        X-Vcap-Request-Id:
          - 28db3b3a-9c08-4ec8-7cbc-4d88ad325272
      body:
        encoding: UTF-8
        string:
          '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.4","title":"Not
          Found","status":404,"traceId":"00-a884b06f53f9d4707fc3cdd3b4f3cfc2-7471bfdba4f9a05f-00"}'
    recorded_at: Fri, 16 Sep 2022 13:55:08 GMT
recorded_with: VCR 6.1.0
