---
http_interactions:
  - request:
      method: put
      uri: https://preprod-teacher-qualifications-api.education.gov.uk/v2/unlock-teacher/f6891223-7661-e431-8047-005056822391
      body:
        encoding: UTF-8
        string: "{}"
      headers:
        Authorization:
          - Bearer <BEARER_TOKEN_REDACTED>
        Content-Type:
          - application/json
    response:
      status:
        code: 404
        message: Not Found
      headers:
        Content-Type:
          - application/problem+json; charset=utf-8
        X-Rate-Limit-Limit:
          - 60s
        X-Rate-Limit-Remaining:
          - "299"
        X-Rate-Limit-Reset:
          - "2022-08-02T03:25:00.0000000Z"
        X-Vcap-Request-Id:
          - a6b29492-e60e-476a-60b4-985d541a6477
      body:
        encoding: UTF-8
        string:
          '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.4","title":"Not
          Found","status":404,"traceId":"00-710646180bc5b0f61fd433f23e5a9047-e48470be6cc03e86-00"}'
    recorded_at: Tue, 02 Aug 2022 03:24:00 GMT
recorded_with: VCR 6.1.0
