<% content_for :page_title, 'It’s taking us longer than usual to find TRNs' %>
<% content_for :back_link_url, ask_questions_path %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class='govuk-heading-xl'>It’s taking us longer than usual to find TRNs</h1>
    <p class='govuk-body'>
      Normally, if we find a match we would send your TRN straight away, but at the moment we are having technical problems.
    </p>
    <p class='govuk-body'>
      If you give us all the information we need, you won’t get a response straight away. And if the information you give is
      incomplete, it might take more than five days to get back to you.
    </p>
    <%= govuk_button_link_to 'Continue', name_path %>
  </div>
</div>
