<% content_for :page_title, 'If you do not have a TRN' %>
<% content_for :back_link_url, check_trn_path %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">If you do not have a TRN</h1>

    <h2 class="govuk-heading-l" id="how-to-get-a-trn">How to get a TRN</h2>
    <p class="govuk-body">If you’re eligible for a TRN in England, you should be allocated one automatically by the Teaching Regulation Agency or Capita Teachers’ Pensions.</p>

    <p class="govuk-body">If you do not have a TRN but need one to do a national professional qualification (NPQ), you can <%= govuk_link_to "request a TRN", "https://www.gov.uk/guidance/teacher-reference-number-trn" %>.</p>

    <h2 class="govuk-heading-l" id="what-a-trn-is-for">What a TRN is for</h2>
    <p class="govuk-body">You need a TRN to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>view your record with the Teaching Regulation Agency (TRA), and download professional certificates in the <a class="govuk-link" href='https://teacherservices.education.gov.uk/SelfService/Login?_ga=2.206960218.899524735.1637088337-1609244267.1609598427'>Teacher self service portal</a></li>
      <li>give to employers so they can complete mandatory teacher status checks</li>
      <li>manage records of your contributions to the Teachers’ Pensions scheme</li>
      <li>give to the Department for Education (DfE) when you have been awarded QTS so you can begin your early career teacher induction</li>
      <li>register for an NPQ</li>
    </ul>
  </div>
</div>
