<% content_for :page_title, 'If you do not have a TRN' %>
<% content_for :back_link_url, check_trn_path %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">If you do not have a TRN</h1>

    <h2 class="govuk-heading-l" id="what-a-trn-is-for">What a TRN is for</h2>
    <p class="govuk-body">You need a TRN to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="https://access-your-teaching-qualifications.education.gov.uk">access your teaching qualifications</a>to download your certificates, change the name on them or check details of your initial teacher training and induction</li>
      <li>give to employers so they can complete mandatory teacher status checks</li>
      <li>manage records of your contributions to the Teachers’ Pensions scheme</li>
      <li>give to the Department for Education (DfE) when you have been awarded QTS so you can begin your early career teacher induction</li>
      <li>be a <a class="govuk-link" href="https://www.gov.uk/guidance/teacher-reference-number-trn#if-youre-a-mentor-for-a-trainee-or-early-career-teacher">mentor for a trainee or early career teacher</a></li>
      <li><a class="govuk-link" href="https://register-national-professional-qualifications.education.gov.uk/registration_closed">register for an NPQ</a></li>
    </ul>
    <%= govuk_warning_text(text: "You only need a TRN if one of the above applies to you. You will not get one for any other reason.") %>
  </div>
</div>

<a class="govuk-link" href='https://teacherservices.education.gov.uk/SelfService/Login?_ga=2.206960218.899524735.1637088337-1609244267.1609598427'>Teacher self service portal</a>
