---
http_interactions:
  - request:
      method: patch
      uri: https://preprod.teaching-identity.education.gov.uk/api/v1/users/29e9e624-073e-41f5-b1b3-8164ce3a5233
      body:
        encoding: UTF-8
        string: '{"email":"kev.ine@digital.education.gov.uk"}'
      headers:
        Authorization:
          - Bearer <BEARER_TOKEN_REDACTED>
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Rate-Limit-Limit:
          - 60s
        X-Rate-Limit-Remaining:
          - "297"
        X-Rate-Limit-Reset:
          - "2022-10-13T11:03:00.0000000Z"
      body:
        encoding: UTF-8
        string: '{"userId":"29e9e624-073e-41f5-b1b3-8164ce3a5233","email":"kev.ine@digital.education.gov.uk","firstName":"Kevin","lastName":"E","dateOfBirth":"1990-01-01","trn":"2921020"}'
    recorded_at: Thu, 13 Oct 2022 11:02:54 GMT
recorded_with: VCR 6.1.0
