---
http_interactions:
  - request:
      method: get
      uri: https://preprod-teacher-qualifications-api.education.gov.uk/v2/teachers/find?dateOfBirth=1990-01-01&emailAddress=kevin@kevin.com&firstName=Not&lastName=Valid
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer <BEARER_TOKEN_REDACTED>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Rate-Limit-Limit:
          - 60s
        X-Rate-Limit-Remaining:
          - "299"
        X-Rate-Limit-Reset:
          - "2022-08-15T12:53:00.0000000Z"
        X-Vcap-Request-Id:
          - 32a5e117-e4f8-4566-77d9-e95431416b70
      body:
        encoding: UTF-8
        string: '{"results":[]}'
    recorded_at: Mon, 15 Aug 2022 12:52:45 GMT
[...]
  - request:
      method: get
      uri: https://preprod-teacher-qualifications-api.education.gov.uk/v1/teachers/2921020?birthdate=1990-01-01
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer <BEARER_TOKEN_REDACTED>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Rate-Limit-Limit:
          - 60s
        X-Rate-Limit-Remaining:
          - "297"
        X-Rate-Limit-Reset:
          - "2022-08-15T12:54:00.0000000Z"
        X-Vcap-Request-Id:
          - fecb2d1e-16ac-41a3-4025-24174f3558a4
      body:
        encoding: UTF-8
        string:
          '{"trn":"2921020","ni_number":"AA123456A","qualified_teacher_status":{"name":"Trainee
          Teacher:DMS","state":"Active","state_name":"Active","qts_date":null},"induction":null,"initial_teacher_training":{"state":"Active","state_code":"Active","programme_start_date":"2020-04-01T00:00:00Z","programme_end_date":"2020-10-10T00:00:00Z","programme_type":"Graduate
          Teacher Programme","result":"In Training","subject1":"computer science","subject2":null,"subject3":null,"qualification":null,"subject1_code":"100366","subject2_code":null,"subject3_code":null},"qualifications":[{"name":"Higher
          Education","date_awarded":"2021-05-03T00:00:00Z","he_qualification_name":"First
          Degree","he_subject1":"computer science","he_subject2":null,"he_subject3":null,"he_subject1_code":"100366","he_subject2_code":null,"he_subject3_code":null,"class":"FirstClassHonours"}],"name":"Kevin
          E","dob":"1990-01-01T00:00:00","active_alert":false,"state":"Active","state_name":"Active"}'
    recorded_at: Wed, 17 Aug 2022 12:53:36 GMT
recorded_with: VCR 6.1.0
