---
http_interactions:
  - request:
      method: get
      uri: https://preprod-teacher-qualifications-api.education.gov.uk/v2/teachers/find?dateOfBirth=1999-01-01&emailAddress=kevin.e@example.com&firstName=Kevin&lastName=E
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer <BEARER_TOKEN_REDACTED>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Rate-Limit-Limit:
          - 60s
        X-Rate-Limit-Remaining:
          - "299"
        X-Rate-Limit-Reset:
          - "2022-08-31T16:37:00.0000000Z"
        X-Vcap-Request-Id:
          - 79e7620b-39ee-4277-54fe-476243f8fc8c
      body:
        encoding: UTF-8
        string: '{"results":[]}'
    recorded_at: Wed, 31 Aug 2022 16:36:46 GMT
  - request:
      method: get
      uri: https://preprod-teacher-qualifications-api.education.gov.uk/v2/teachers/find?dateOfBirth=1999-01-01&emailAddress=kevin.e@example.com&firstName=Kevin&lastName=E&trn=2921020
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer <BEARER_TOKEN_REDACTED>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Rate-Limit-Limit:
          - 60s
        X-Rate-Limit-Remaining:
          - "298"
        X-Rate-Limit-Reset:
          - "2022-08-31T16:37:00.0000000Z"
        X-Vcap-Request-Id:
          - e355584a-7fd8-440d-6217-fc4fb59517f0
      body:
        encoding: UTF-8
        string: '{"results":[{"trn":"2921020","emailAddresses":["kevin.e@example.com"],"firstName":"Kevin","lastName":"E","dateOfBirth":"1990-01-01","nationalInsuranceNumber":"AA123456A","uid":"1bf8803f-3924-417c-9603-1ed6489dae0d","hasActiveSanctions":false}]}'
    recorded_at: Wed, 31 Aug 2022 16:36:46 GMT
recorded_with: VCR 6.1.0
