---
http_interactions:
  - request:
      method: put
      uri: https://preprod-teacher-qualifications-api.education.gov.uk/v2/unlock-teacher/a-non-matching-uid
      body:
        encoding: UTF-8
        string: "{}"
      headers:
        Authorization:
          - Bearer <BEARER_TOKEN_REDACTED>
        Content-Type:
          - application/json
    response:
      status:
        code: 400
        message: Bad Request
      headers:
        Content-Type:
          - application/problem+json; charset=utf-8
        X-Rate-Limit-Limit:
          - 60s
        X-Rate-Limit-Remaining:
          - "299"
        X-Rate-Limit-Reset:
          - "2022-08-02T13:05:00.0000000Z"
        X-Vcap-Request-Id:
          - b5fe401c-9700-4914-6491-52c2db8c1d7e
      body:
        encoding: UTF-8
        string:
          '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
          or more validation errors occurred.","status":400,"traceId":"00-bff750de823a32965d090f3effdc6207-711e4f3fc2873960-00","errors":{"teacherId":["The
          value ''a-non-matching-uid'' is not valid for TeacherId."]}}'
    recorded_at: Tue, 02 Aug 2022 13:04:36 GMT
recorded_with: VCR 6.1.0
