---
http_interactions:
- request:
    method: put
    uri: https://preprod-teacher-qualifications-api.education.gov.uk/v2/unlock-teacher/a-non-matching-uid
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN_REDACTED>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      X-Rate-Limit-Limit:
      - 60s
      X-Rate-Limit-Remaining:
      - '299'
      X-Rate-Limit-Reset:
      - '2022-09-16T13:56:00.0000000Z'
      X-Vcap-Request-Id:
      - 3b42e11a-13d0-4ae1-5fbd-44632ffe3aa7
    body:
      encoding: UTF-8
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-fdbbb85de671934ee5c9d998e05cdc0f-c3a9822ce6caabc4-00","errors":{"teacherId":["The
        value ''a-non-matching-uid'' is not valid for TeacherId."]}}'
  recorded_at: Fri, 16 Sep 2022 13:55:07 GMT
recorded_with: VCR 6.1.0
