<% content_for :page_title, 'Privacy notice' %>

<h1 class="govuk-heading-xl">Privacy notice</h1>

<h2 class="govuk-heading-m">Who we are</h2>

<p class="govuk-body">Get an identity to access Teacher Services is run by the <a class="govuk-link" href=https://www.gov.uk/government/organisations/teaching-regulation-agency/about">Teaching Regulation Agency (TRA)</a>, an executive agency of the Department for Education (DfE).</p>

<p>For the purpose of General Data Protection Regulation (GDPR), DfE is the data controller for the data we hold and process.</p>

<h2 class="govuk-heading-m">What data we collect</h2>

<p class="govuk-body">We collect:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>names</li>
  <li>email addresses</li>
  <li>dates of birth</li>
  <li>National Insurance number</li>
  <li>initial teacher training (ITT) provider - where you gained qualified teacher status(QTS) or early years teacher status (EYTS).</li>
  <li>teacher reference number (TRN)</li>
</ul>

<h2 class="govuk-heading-m">Why we collect this data</h2>

<p class="govuk-body">We collect this data to check if it is held in the database of qualified teachers (DQT) and to create an account. This will allow users to:</p>
<ul class="govuk-list govuk-list--bullet">
<li>access many teacher services with one login</li>
<li>provide and update their data once across all teacher services, instead of maintaining it separately in each individual service</li>
</ul>

<h2 class="govuk-heading-m">Cookies</h2>

<p class="govuk-body">You can read our <a class="govuk-link" href="/cookies">cookie policy</a> to find out about the cookies we use on Get an identity to access Teacher Services.</p>

<h2 class="govuk-heading-m">What we do with personal data</h2>

<p>We only collect the data we need for the purposes outlined in ‘Why we collect this data’.</p>

<p class="govuk-body">We will not:</p>
<ul class="govuk-list govuk-list--bullet">
<li>sell or rent users’ data to third parties</li>
<li>share data with third parties for marketing purposes</li>
</ul>

<h2 class="govuk-heading-m">Our lawful basis for processing your personal data</h2>

<p>Running and improving Get an identity to access Teacher Services is in the Public Interest, as defined in data protection law (UK GDPR and Data Protection Act 2018).</p>

<h2 class="govuk-heading-m">How we use third parties to process your data</h2>

<p>Some of your personal information is processed by our Data Processors, listed below. They allow us to run and improve Get an identity to access Teacher Services.</p>

<p>We share your data with our data processors for the purposes of provision of this service. Data Protection Agreements are in place with each of these Processors and they are required to comply with the UK GDPR and the UK Data Protection Act 2018 as Data Processors.</p>

<h3 class="govuk-heading-s">Customer service management systems</h3>

<p>We use Zendesk to manage and respond to your queries.</p>

<p><a class="govuk-link" href="https://www.zendesk.co.uk/company/privacy-and-data-protection/#faq-general-1" rel="noreferrer noopener" target="_blank"> Visit the Zendesk website to find out how they use and look after your data (“service data”)</a>(opens in new tab)</p>

<h2 class="govuk-heading-m">How long we keep your personal data</h2>

<p>We keep your personal data for as long as you use the service. We will keep it for no longer than 7 years after you stop using the service.</p>

<h2 class="govuk-heading-m">To Raise a concern</h2>

<p class="govuk-body">You have rights under the UK GDPR and the Data Protection Act 2018. However, these rights are conditional on the lawful basis. We process your data under the lawful basis of Public Interest which grants you the following rights:</p>
<ul class="govuk-list govuk-list--bullet">
<li>being informed about how your data is being used</li>
<li>accessing personal data</li>
<li>having incorrect data corrected</li>
<li>restricting the processing of your data (for example where the data is inaccurate or outdated)</li>
<li>objecting to how your data is processed in certain circumstances, including automated processing and profiling</li>
</ul>

<p class="govuk-body">You can find more information about how we handle personal data in our <a href="https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter" class="govuk-link">personal information charter</a>.</p>

<p class="govuk-body">Contact the Get an Identity to access Teacher Services team at <a href="mailto:QTS.enquiries@digital.education.gov.uk">QTS.enquiries@digital.education.gov.uk</a>, if you have any concerns about your personal data.</p>

<p class="govuk-body">You can also <a class="govuk-link" href="https://form.education.gov.uk/en/AchieveForms/?form_uri=sandbox-publish://AF-Process-f1453496-7d8a-463f-9f33-1da2ac47ed76/AF-Stage-1e64d4cc-25fb-499a-a8d7-74e98203ac00/definition.json&redirectlink=%2Fen&cancelRedirectLink=%2Fen">get in touch with the Department for Education’s data protection officer through the online contact form</a>.</p>

<h2 class="govuk-heading-m">Keep up to date</h2>

<p>We periodically review this policy. We’ll notify you if we change how we use your personal data.</p>

<p>It was last updated on 19 October 2022.</p>
