---
http_interactions:
  - request:
      method: get
      uri: https://qualified-teachers-api-preprod.london.cloudapps.digital/v2/teachers/find?dateOfBirth=1980-01-01&emailAddress=kevin@kevin.com&firstName=Kevin&ittProviderName=&lastName=Evans&nationalInsuranceNumber
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Authorization:
          - Bearer testkey
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Rate-Limit-Limit:
          - 60s
        X-Rate-Limit-Remaining:
          - '298'
        X-Rate-Limit-Reset:
          - '2022-03-24T09:42:00.0000000Z'
        X-Vcap-Request-Id:
          - ddb3fafd-ba80-4d5f-5e4e-2237cb4439dd
      body:
        encoding: UTF-8
        string: '{"results":[{"trn":"1275362","emailAddresses":["anonymous@anonymousdomain.org.net.co.uk"],"firstName":"Kevin","lastName":"Evans","dateOfBirth":"1990-01-01","nationalInsuranceNumber":"SD78771P9","uid":"f7891223-7661-e411-8047-005056822391"},{"trn":null,"emailAddresses":null,"firstName":"Kevin","lastName":"Evans","dateOfBirth":"1951-03-27","nationalInsuranceNumber":"Y84M651B0","uid":"551923d2-c4ae-e311-b8ed-005056822391"},{"trn":"1781186","emailAddresses":null,"firstName":"Kevin","lastName":"Evans","dateOfBirth":"1957-04-25","nationalInsuranceNumber":null,"uid":"bff99cb2-cbae-e311-b8ed-005056822391"},{"trn":null,"emailAddresses":null,"firstName":"Kevin","lastName":"Evans","dateOfBirth":"1952-0[...]
[...]
  - request:
      method: get
      uri: https://qualified-teachers-api-preprod.london.cloudapps.digital/v2/teachers/find?dateOfBirth=1990-01-01&emailAddress=kevin@kevin.com&firstName=Kevin&ittProviderName=&lastName=E&nationalInsuranceNumber
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Authorization:
          - Bearer testkey
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Rate-Limit-Limit:
          - 60s
        X-Rate-Limit-Remaining:
          - '295'
        X-Rate-Limit-Reset:
          - '2022-03-24T10:15:00.0000000Z'
        X-Vcap-Request-Id:
          - 3687628c-9691-4e37-42d4-89dca4c62798
      body:
        encoding: UTF-8
        string: '{"results":[{"trn":"1275362","emailAddresses":["anonymous@anonymousdomain.org.net.co.uk"],"firstName":"Kevin","lastName":"Evans","dateOfBirth":"1990-01-01","nationalInsuranceNumber":"SD78771P9","uid":"f7891223-7661-e411-8047-005056822391"}]}'
    recorded_at: Thu, 24 Mar 2022 10:14:15 GMT
recorded_with: VCR 6.1.0
