---
http_interactions:
  - request:
      method: get
      uri: https://preprod-teacher-qualifications-api.education.gov.uk/v2/teachers/find?dateOfBirth=1990-01-01&emailAddress&firstName=Kevin&ittProviderName&lastName=E&nationalInsuranceNumber=QQ123456C&previousFirstName&previousLastName
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Authorization:
          - Bearer <BEARER_TOKEN_REDACTED>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Rate-Limit-Limit:
          - 60s
        X-Rate-Limit-Remaining:
          - '299'
        X-Rate-Limit-Reset:
          - '2022-04-18T12:37:00.0000000Z'
        X-Vcap-Request-Id:
          - d1d2fbcf-ee3f-49d1-6b91-e89170b48c7d
      body:
        encoding: UTF-8
        string: '{"results":[{"trn":"1275362","emailAddresses":["anonymous@anonymousdomain.org.net.co.uk"],"firstName":"Kevin","lastName":"Evans","dateOfBirth":"1990-01-01","nationalInsuranceNumber":"AA123456A","uid":"f7891223-7661-e411-8047-005056822391"}]}'
    recorded_at: Mon, 18 Apr 2022 12:36:21 GMT
recorded_with: VCR 6.1.0
