<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= tag.h1(@wizard.current_page.title, class: "govuk-heading-xl") %>

    <%= wizardry_content(@wizard) %>
  </div>
</div>
