---
http_interactions:
- request:
    method: get
    uri: https://preprod-teacher-qualifications-api.education.gov.uk/v2/teachers/find?dateOfBirth=1990-01-01&emailAddress=kevin.e@example.com&firstName=Steven&lastName=Toast
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN_REDACTED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - 60s
      X-Rate-Limit-Remaining:
      - '299'
      X-Rate-Limit-Reset:
      - '2022-10-17T10:30:00.0000000Z'
      X-Vcap-Request-Id:
      - cfd41b83-400e-48ff-6cc1-f67dabd5b26d
    body:
      encoding: UTF-8
      string: '{"results":[]}'
  recorded_at: Mon, 17 Oct 2022 10:29:36 GMT
- request:
    method: get
    uri: https://preprod-teacher-qualifications-api.education.gov.uk/v2/teachers/find?dateOfBirth=1990-01-01&emailAddress=kevin.e@example.com&firstName=Steven&lastName=Toast&nationalInsuranceNumber=AA123456A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN_REDACTED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - 60s
      X-Rate-Limit-Remaining:
      - '298'
      X-Rate-Limit-Reset:
      - '2022-10-17T10:30:00.0000000Z'
      X-Vcap-Request-Id:
      - e335ad67-45c4-4267-7741-6dd341c06e9c
    body:
      encoding: UTF-8
      string: '{"results":[{"trn":"2921020","emailAddresses":["kevin.e@example.com"],"firstName":"Kevin","lastName":"E","dateOfBirth":"1990-01-01","nationalInsuranceNumber":"AA123456A","uid":"1bf8803f-3924-417c-9603-1ed6489dae0d","hasActiveSanctions":false}]}'
  recorded_at: Mon, 17 Oct 2022 10:29:37 GMT
- request:
    method: put
    uri: https://preprod.teaching-identity.education.gov.uk/api/find-trn/user/9ddccb62-ec13-4ea7-a163-c058a19b8222
    body:
      encoding: UTF-8
      string: '{"firstName":"Steven","lastName":"Toast","trn":"2921020","dateOfBirth":"1990-01-01","nationalInsuranceNumber":"AA123456A"}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN_REDACTED>
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 17 Oct 2022 10:29:37 GMT
recorded_with: VCR 6.1.0
